@keyframes screen-transition {
  from {
    opacity: 0;
    scale: 1.01;
  }
  to {
    opacity: 1;
    scale: 1;
  }
}

@keyframes screen-slide-left {
  from {
    opacity: 0;
    translate: 10px 0;
  }
  to {
    opacity: 1;
    translate: 0 0;
  }
}

@keyframes screen-slide-up {
  from {
    opacity: 0;
    translate: 0 10px;
  }
  to {
    opacity: 1;
    translate: 0 0;
  }
}

::view-transition-old(*),
::view-transition-new(*),
::view-transition-group(*) {
  animation-duration: 200ms;
}

@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
::view-transition-old(.screen-transition),
::view-transition-old(.screen-slide-left),
::view-transition-old(.screen-slide-up) {
  animation: 100ms ease-out reverse forwards;
}

::view-transition-new(.screen-transition),
::view-transition-new(.screen-slide-left),
::view-transition-new(.screen-slide-up) {
  animation: 200ms 200ms ease-out backwards;
}

::view-transition-old(.screen-transition),
::view-transition-new(.screen-transition) {
  animation-name: screen-transition;
}

::view-transition-old(.screen-slide-left),
::view-transition-new(.screen-slide-left) {
  animation-name: screen-slide-left;
}

::view-transition-old(.screen-slide-up),
::view-transition-new(.screen-slide-up) {
  animation-name: screen-slide-up;
}
