.card {
  --_theme: var(--white);
  --gutter: clamp(var(--space-xs), 5cqi, var(--space-m));
  --radius: var(--radius-xl);
  --bg: var(--white);
  --card-name-fontSize: calc(0.6rem + 8cqi);
  --card-name-fontWeight: var(--font-semibold);
  container-type: inline-size;
  position: relative;
  isolation: isolate;
  display: grid;
  inline-size: var(--card-size);
  aspect-ratio: var(--card-aspect-ratio);
  border-radius: var(--radius);
  transform-style: preserve-3d;
}

.card-display {
  display: grid;
  grid-template-columns: 1fr min(40cqi, 100%);
  grid-template-rows: auto 1fr;
  padding: 0;
  height: 100%;
  text-align: start;
  line-height: 1.1;
  border-width: 3px;
  border-style: var(--border-style);
  border-color: var(--theme, var(--_theme));
  border-radius: calc(var(--radius) / 2);
}

.card-category {
  align-self: start;
  grid-column: 1;
  grid-row: 1;
  display: flex;
  gap: var(--space-s);
  padding: calc(var(--gutter) * 2);
  font-family: var(--font-display);
  font-size: calc(0.5rem + 2cqi);
  font-weight: var(--font-medium);
  line-height: 1.2;
  width: 100%;
}

.card-category::before {
  --size: 6px;
  content: "";
  position: relative;
  top: 0.4em;
  flex-shrink: 0;
  width: var(--size);
  height: var(--size);
  background-color: var(--theme, var(--_theme));
  border-radius: var(--radius-round);
}

.card-figure {
  --border-size: 2rem;
  grid-column: 2;
  place-items: start end;
  color: var(--theme, var(--_theme));
  overflow: hidden;
}

.card-blot {
  position: relative;
  top: -1px;
  right: -1px;
  width: 100%;
  height: auto;
}

.card-face {
  position: relative;
  top: 12%;
  right: 12%;
  width: 53%;
  height: auto;
}

.card-name {
  grid-column: 1 / -1;
  margin-block-start: auto;
  padding: calc(var(--gutter) * 2);
  font-size: var(--card-name-fontSize);
  font-weight: var(--card-name-fontWeight);
  text-wrap: revert;
}

:is(.card-front, .card-back) {
  --button-push: 0;
  display: grid;
  padding: var(--gutter);
  color: inherit;
  background-color: var(--bg);
  border: var(--border);
  border-radius: inherit;
  backface-visibility: hidden;
}

.card.inactive {
  color: var(--color-text-subtle);

  &.has-theme {
    --theme: var(--light-gray) !important;
  }
}

.card-front {
  border-radius: var(--radius);
  z-index: 1;
}

.card-back {
  transform: rotateY(180deg);
  z-index: 0;

  img {
    width: 100%;
    height: auto;
  }
}

:where(.card).flipped {
  transform: rotateY(-180deg);
}

:where(.card).is-flipping {
  animation: card-flip 380ms cubic-bezier(0.16, 1, 0.3, 1) forwards;
}

@keyframes card-flip {
  0% {
    transform: rotateY(90deg);
    scale: 0.5;
  }
  100% {
    transform: rotateY(0);
  }
}

.card-starter {
  padding: unset;
  font-size: var(--text-xl);
  font-weight: var(--font-semibold);
  text-align: center;
  line-height: 1.3;
  border: none;
  background-color: transparent;

  img {
    width: 100%;
    height: auto;
  }
}

/** Card editor **/
.card-editor {
  --max: min(var(--card-size), 100% - var(--page-gutter) * 2);
  inline-size: 100%;
}

.card-editor .card-display {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr auto;
  border-color: transparent;
}

.card-editor .editor-box {
  grid-row: 2;
  margin: calc(var(--gutter) - var(--border-width));
}

.card-editor-category-select {
  display: flex;
  align-items: center;
  gap: var(--space-s);
}

.card-editor-category-select button {
  --button-bg: transparent;
  --button-border-width: 0;
  --button-padding: var(--space-xs);
}

.card-name-wrapper::after {
  content: attr(data-value) " ";
  white-space: pre-wrap;
  visibility: hidden;
}

.card-name-wrapper > textarea {
  resize: none;
  overflow: hidden;
  height: 100%;
  outline: none;
}

.card-name-wrapper > textarea,
.card-name-wrapper::after {
  padding: var(--gutter);
  line-height: 1.1;
  font-size: var(--card-name-fontSize);
  font-weight: var(--card-name-fontWeight);
  overflow-wrap: anywhere;
  hyphens: auto;
  border: 0;
  background-color: transparent;
}

.character-count {
  position: absolute;
  top: 100%;
  right: var(--space-s);
  translate: 0 -50%;
  margin-inline-end: var(--space-s);
  padding: var(--space-2xs) var(--space-xs);
  justify-self: end;
  color: var(--color-text-subtle);
  font-size: var(--text-xs);
  font-weight: var(--font-medium);
  font-feature-settings: "tnum";
  letter-spacing: -0.02em;
  background-color: var(--white);
  border-radius: var(--radius-xs);
  user-select: none;
}

.character-count.limit {
  background: var(--color-danger);
  color: var(--white);
}
