.card {
  --_theme: var(--teal);
  --gutter: clamp(var(--space-xs), 5cqi, var(--space-m));
  --radius: var(--radius-xl);
  --bg: var(--white);
  --card-name-fontSize: calc(0.6rem + 8cqi);
  --card-name-fontWeight: var(--font-semibold);
  container-type: inline-size;
  position: relative;
  transform-style: preserve-3d;
  display: grid;
  border: var(--border);
  border-radius: var(--radius);
  inline-size: var(--card-size);
  aspect-ratio: 154 / 202;
}

.card-display {
  display: grid;
  grid-template-columns: minmax(0, 1fr) min(40cqi, 100%);
  grid-template-rows: auto 1fr;
  border-width: 3px;
  border-style: var(--border-style);
  border-color: var(--theme, var(--_theme));
  border-radius: calc(var(--radius) / 2);
}

.card-category {
  align-self: start;
  grid-column: 1;
  grid-row: 1;
  display: flex;
  gap: var(--space-s);
  padding: calc(var(--gutter) * 2);
  font-family: var(--font-display);
  font-size: calc(0.5rem + 2cqi);
  font-weight: var(--font-semibold);
  line-height: 1.1;
  width: 100%;
  word-break: break-word;
  hyphens: auto;
}

.card-category::before {
  --size: 6px;
  content: "";
  position: relative;
  top: 0.3em;
  flex-shrink: 0;
  width: var(--size);
  height: var(--size);
  background-color: var(--theme, var(--_theme));
  border-radius: var(--radius-round);
}

.card-figure {
  --border-size: 2rem;
  grid-column: 2;
  place-items: start end;
  color: var(--theme, var(--_theme));
  overflow: hidden;
}

.card-blot {
  position: relative;
  top: -1px;
  right: -1px;
  width: 100%;
  height: auto;
}

.card-face {
  position: relative;
  top: 12%;
  right: 12%;
  width: 53%;
  height: auto;
}

.card-name {
  grid-column: 1 / -1;
  margin-block-start: auto;
  padding: calc(var(--gutter) * 2);
  font-size: var(--card-name-fontSize);
  font-weight: var(--card-name-fontWeight);
}

:is(.card-front, .card-back) {
  display: grid;
  background-color: var(--bg);
  backface-visibility: hidden;
  padding: var(--gutter);
  border-radius: inherit;
}

.card-back {
  transform: rotateY(180deg);

  img {
    width: 100%;
    height: auto;
  }
}

:where(.card).flipped {
  transform: rotateY(-180deg);
}

.card-starter {
  padding: unset;
  font-size: var(--text-xl);
  font-weight: var(--font-semibold);
  text-align: center;
  line-height: 1.3;
  border: none;
  background-color: transparent;

  img {
    width: 100%;
    height: auto;
  }
}

.card-editor {
  --max: 22rem;
}

.card-editor .card {
  padding: var(--space-l);
  background-color: var(--bg);
}

.card-editor .editor-box {
  align-self: end;
}

.card-editor-category-select {
  display: flex;
  align-items: center;
  gap: var(--space-s);
}

.card-editor-category-select button {
  --button-bg: transparent;
  --button-border-width: 0;
  --button-padding: var(--space-xs);
}

.card-name-wrapper::after {
  content: attr(data-value) " ";
  white-space: pre-wrap;
  visibility: hidden;
}

.card-name-wrapper > textarea {
  resize: none;
  overflow: hidden;
  height: 100%;
  outline: none;
}

.card-name-wrapper > textarea,
.card-name-wrapper::after {
  border: 0;
  background-color: transparent;
  line-height: 1.1;
  font-size: var(--card-name-fontSize);
  font-weight: var(--card-name-fontWeight);
  padding: var(--gutter);
}
