.deck-display-control {
  --radius: var(--radius-s);
  --inner-radius: calc(var(--radius) - var(--border-2-width));
  display: inline-grid;
  grid-template-columns: 1fr 1fr;
  border-radius: var(--radius);
  border: var(--border-2);
  background-color: var(--white);
}

.deck-display-control button {
  --button-push: 0;
  --button-border-width: 0;
  --button-radius: 0;
  --button-icon-size: 1.125rem;
  --button-bg: transparent;
  --button-color: var(--black);
}

.deck-display-control button:focus-visible {
  z-index: 1;

  &:first-of-type {
    border-radius: var(--inner-radius) 0 0 var(--inner-radius);
  }

  &:last-of-type {
    border-radius: 0 var(--inner-radius) var(--inner-radius) 0;
  }
}

.deck-display-control button[aria-pressed="true"] {
  --button-bg: var(--black);
  --button-color: var(--white);
}
