.deck-display {
  align-self: start;
  display: grid;
  grid-template-rows: auto 1fr auto;
  gap: var(--space-l);
  padding-block-end: var(--page-gutter);
}

.deck-header {
  position: relative;
  display: grid;
  align-items: center;
  gap: var(--space-s);
  padding: var(--page-gutter);
  padding-inline: clamp(var(--page-gutter), 3vw, var(--space-2xl));
  background-color: var(--white);
  border-block-end: var(--border);
}

.deck-header:not(.deck-edit-header) {
  grid-template-columns: 1fr auto auto;
}

.deck-edit-header {
  padding-block: var(--space-l);
}

.deck-edit-header-text {
  text-align: center;
  font-size: var(--text-l);
}

.deck-edit-header-action {
  position: absolute;
  top: 50%;
  translate: 0 -50%;
  right: var(--space-m);
}

.deck-edit-header-action .icon-button {
  --button-icon-size: 1.25em;
  --button-bg: transparent;
  --button-padding: var(--space-s);
}

.deck-header .settings-toggle {
  grid-column: -1;
  margin-inline-end: calc(var(--button-padding) * -1);
}

.deck-header .callout {
  max-inline-size: 22rem;
}

.deck-header .category-creator {
  --space: var(--space-s);
}

.deck-header-info {
  margin-inline-end: auto;
  padding-block: var(--space-m);
}

.deck-header-card-count {
  color: var(--color-text-subtle);
  line-height: 1.1;
}

@media (max-width: 43rem) {
  .deck-header:not(.deck-edit-header) {
    grid-template-columns: minmax(0, 1fr);
    background-color: transparent;
    border-block-end: unset;
    padding-block-end: unset;
  }

  .deck-header-action {
    display: none;
  }

  .deck-header .callout {
    justify-self: center;
    grid-column: span 2;
    grid-row: 2;
  }
}

.cards-wrapper {
  --gutter: var(--space-m);
  scroll-snap-type: x mandatory;
  display: grid;
  grid-template-columns:
    [full-start] 1fr
    [content-start]
    min(var(--card-size), 100% - var(--gutter) * 2)
    [content-end]
    1fr [full-end];
  padding-block: var(--gutter);
  margin-block: calc(var(--gutter) * -1);
}

.cards {
  --scale: 0.94;
  grid-column: content;
  display: flex;
  gap: var(--space-s);

  &::after {
    content: "";
    align-self: stretch;
    padding-inline-end: max(var(--gutter), (100vw - var(--card-size)) / 2 + var(--gutter) * 2);
  }

  > * {
    flex-shrink: 0;
    inline-size: var(--card-size);
    scroll-snap-align: center;
  }
}

.deck-controls {
  --max: 35rem;
  --gutter: var(--space-l);
  --justify: space-between;

  border-block-end: var(--border);
  padding-block-end: var(--space-l);
  inline-size: 100%;
}

.card-active-control {
  --max: min(var(--card-size), 100% - var(--page-gutter) * 2);
  --align: center;
  --justify: space-between;
  inline-size: 100%;
}

.card-active-control label {
  color: var(--color-text-subtle);
}

@supports not (animation-timeline: view()) {
  .cards > * {
    scale: var(--scale);
    transition: scale 150ms ease-out;
  }

  .cards > *:has([aria-selected="true"]) {
    scale: 1;
  }
}

@supports (animation-timeline: view()) {
  .cards > * {
    animation: card-scale linear both, card-fade linear both;
    animation-timeline: view(inline);
    animation-range: cover 30% cover 70%, cover 5% cover 95%;
  }

  @keyframes card-scale {
    from,
    to {
      scale: var(--scale);
    }
    50% {
      scale: 1;
    }
  }

  @keyframes card-fade {
    from,
    to {
      opacity: 0;
    }
    10%,
    90% {
      opacity: 1;
    }
  }
}
