.intro {
  margin: auto;
  width: 100%;
  max-inline-size: 100vmin;
  text-align: center;

  img {
    width: 100%;
    height: auto;
  }
}

.figure {
  place-items: end center;
}

.wrapper {
  --stop: 100%;
  position: relative;
  top: -35%;
  width: 100%;
  height: 60%;
  /* background-image: linear-gradient(rgb(0 0 0 / 100%) var(--stop), transparent var(--stop)); */
  mask-image: linear-gradient(rgb(0 0 0 / 100%) var(--stop), transparent var(--stop));

  img {
    width: 40%;
    height: auto;
    margin-inline: auto;
  }
}

.left {
  transform-origin: bottom right;
}

.right {
  transform-origin: bottom left;
}

.main {
  position: relative;
}

.logo {
  position: relative;
  width: 100%;
  overflow: visible;
  transform-origin: center;
}
