.shuffle-display {
  min-height: 100svh;
}

.shuffle-wrapper {
  --max: 50rem;

  position: relative;
  place-items: center;
  aspect-ratio: 253 / 180;
  width: min(var(--card-size), 100% - var(--page-gutter) * 2);
  height: auto;
  min-width: 0;
  aspect-ratio: var(--card-aspect-ratio);
}

.shuffle-video {
  position: absolute;
  display: grid;
  place-content: center;
  width: calc(var(--card-size) * 2);
  height: auto;
  object-fit: cover;
  background-color: transparent;
}

.shuffle-wrapper .card {
  place-self: stretch;
}
