.cluster {
  display: flex;
  flex-wrap: wrap;
  align-items: var(--align, initial);
  justify-content: var(--justify, initial);
  gap: var(--gap, var(--space-m));
}

.grid {
  display: grid;
  grid-template-columns: repeat(
    var(--repeat, auto-fill),
    minmax(min(var(--min, 10rem), 100%), 1fr)
  );
  gap: var(--gap, var(--space-s));
}

.center {
  max-inline-size: min(var(--max, 60rem), 100% - var(--gutter, 0px) * 2);
  margin-inline: auto;
}

.stack {
  display: grid;
  grid-template-areas: "stack";

  > *,
  &::before,
  &::after {
    grid-area: stack;
  }
}

.center-xy {
  display: grid;
  place-items: center;
}

.flow > * + * {
  margin-block-start: var(--space, var(--space-l));
}

.flow-xs > * + * {
  --space: var(--space-xs);
}

.flow-s > * + * {
  --space: var(--space-s);
}

.flow-m > * + * {
  --space: var(--space-m);
}

.flow-l > * + * {
  --space: var(--space-l);
}

.flow-xl > * + * {
  --space: var(--space-xl);
}

.multi-column {
  columns: var(--cols, 2);
}

.page {
  margin-block: var(--space-3xl);
  padding-inline: var(--space-l);
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.scroll-x {
  --scrollbar-offset: 4px;
  max-width: 100%;
  overflow-x: scroll;
  overscroll-behavior-x: contain;
  scrollbar-width: none;
}

.break-words {
  overflow-wrap: anywhere;
  hyphens: auto;
}

.border-0 {
  border: 0;
}

@media (prefers-reduced-motion: no-preference) {
  .scroll-x:focus-within {
    scroll-behavior: smooth;
  }
}

.scroll-x::-webkit-scrollbar {
  display: none;
}

.scroll-x::-webkit-scrollbar {
  height: 12px;
  background-color: transparent;
}

.scroll-x::-webkit-scrollbar-thumb {
  background-color: transparent;
}

.scroll-x:hover::-webkit-scrollbar,
.scroll-x::-webkit-scrollbar:active {
  background-color: var(--color-text);
  box-shadow: inset var(--color-bg) 0 0 0 var(--scrollbar-offset);
}

.scroll-x:hover::-webkit-scrollbar-thumb,
.scroll-x::-webkit-scrollbar-thumb:active {
  background-color: var(--color-text);
  border-left: var(--scrollbar-offset) solid var(--color-bg);
  border-right: var(--scrollbar-offset) solid var(--color-bg);
}
