.cluster {
  display: flex;
  flex-wrap: wrap;
  align-items: var(--align, initial);
  justify-content: var(--justify, initial);
  gap: var(--gap, var(--space-m));
}

.grid {
  display: grid;
  grid-template-columns: repeat(
    var(--repeat, auto-fill),
    minmax(min(var(--min, 10rem), 100%), 1fr)
  );
  gap: var(--gap, var(--space-s));
}

.page {
  margin-block: var(--space-4xl);
  padding-inline: var(--space-l);
}

.center {
  max-inline-size: var(--max, 60rem);
  margin-inline: auto;
}

.stack {
  display: grid;
  grid-template-areas: "stack";

  > *,
  &::before,
  &::after {
    grid-area: stack;
  }
}

.center-xy {
  display: grid;
  place-items: center;
}

.flow > * + * {
  margin-block-start: var(--space, var(--space-l));
}

.flow-xs > * + * {
  --space: var(--space-xs);
}

.flow-s > * + * {
  --space: var(--space-s);
}

.flow-m > * + * {
  --space: var(--space-m);
}

.flow-l > * + * {
  --space: var(--space-l);
}

.flow-xl > * + * {
  --space: var(--space-xl);
}

.multi-column {
  columns: var(--cols, 2);
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
