.cluster {
  display: flex;
  align-items: var(--align, initial);
  justify-content: var(--justify, initial);
  gap: var(--gap, 0.2rem);
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.flow > * + * {
  margin-block-start: var(--space, var(--space-l));
}
