/* the props */
/* @import "open-props/style";

@import "open-props/normalize";
@import "open-props/easings";
@import "open-props/animations";
@import "open-props/sizes"; */

@font-face {
  font-display: swap;
  font-family: "Inter";
  src: url("fonts/InterVariable.woff2") format("woff2");
  unicode-range: U+0-FF, U+131, U+152, U+153, U+2BB, U+2BC, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074,
    U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

:root {
  color-scheme: light dark;

  --font-base: "Inter", sans-serif;

  --text: #213547;
  --surface-1: #fafafa;
  --surface-2: #f5f5f5;
  --surface-3: #e5e5e5;
  --surface-4: #d4d4d4;
  --button-bg: #d6d3d1;
  --button-text: #171717;
  --button-bg-active: #2563eb;
  --button-text-active: #fafafa;

  --space-xs: 0.25rem;
  --space-s: 0.5rem;
  --space-m: 1rem;
  --space-l: 1.5rem;
  --space-xl: 2rem;

  --radius-s: 0.25rem;
  --radius-m: 0.5rem;
  --radius-round: 50%;
  --radius-pill: 360px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --text: #f5f5f5;
    --surface-1: #0a0a0a;
    --surface-2: #171717;
    --surface-3: #262626;
    --surface-4: #404040;
    --button-bg: #404040;
    --button-bg-active: #1d4ed8;
    --button-text: #fafafa;
  }
}

:where(h1, h2, h3, h4, h5, h6) {
  font-weight: 600;
}

:where(h2) {
  font-size: 1.25rem;
}

body {
  scrollbar-gutter: stable both-edges;
  min-block-size: 100%;
  font-family: var(--font-base);
  font-feature-settings: "cv02", "cv03", "cv04", "cv11";
  -webkit-font-smoothing: antialiased;
  letter-spacing: -0.02em;
  color: var(--text);
  background-color: var(--surface-1);
  margin-block: 2rem 5rem;
}

#root {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  padding: 2rem;
}

:where([id="add-card-form"], [id="add-category-form"], [id="edit-card-form"]) {
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
  gap: var(--space-s);

  :where(input, select) {
    width: 100%;
  }
}

.hint {
  display: block;
  width: 100%;
  font-size: 0.85em;
}

/* :where(input:not([type="checkbox"], [type="radio"]), select) {
  padding: var(--space-xs);
}

button {
  border-radius: 4px;
  border: 1px solid transparent;
  padding: var(--space-xs) var(--space-m);
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  color: var(--text-9);
  background-color: var(--surface-2);
  cursor: pointer;
  transition: border-color 0.25s;
}

button[aria-pressed="true"] {
  color: var(--button-text-active);
  background-color: var(--button-bg-active);
} */

.btn-reset {
  all: unset;
  outline: revert;
  font: inherit;
}
